.highcharts-figure,
.highcharts-data-table table {
  min-width: 360px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  text-align: center;
  border: 1px solid #ebebeb;
  border-collapse: collapse;
  font-family: Verdana, sans-serif;
}

.highcharts-data-table caption {
  padding: 1em 0;
  color: #555;
  font-size: 1.2em;
}

.highcharts-data-table th {
  padding: 0.5em;
  font-weight: 600;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

#container h4 {
  text-transform: none;
  font-size: 14px;
  font-weight: normal;
}

#container p {
  font-size: 13px;
  line-height: 16px;
}

@media screen and (max-width: 600px) {
  #container h4 {
    font-size: 2.3vw;
    line-height: 3vw;
  }

  #container p {
    font-size: 2.3vw;
    line-height: 3vw;
  }
}
