<div class="row">
    <div class="col-md-4 border-right-column">
        <div class="sidebar-left">
            {{ drupal_menu('le-ministere') }}
        </div>
    </div>
    <div class="col-md-8 px-lg-5 px-3">
        <div class="mb-3">
            {{ content.field_image_principal_de_la_page }}
        </div>
        {{ content.body }}
    </div>
</div>