.ui-dialog.ui-widget-content {
  border: none;
  background: #fff;
  padding: 10px;
}
form .form-item-value,
form .form-item-value-lines {
  display: none;
}
.ui-dialog.ui-widget-content .og-container-inline {
  display: flex;
  gap: 0 20px;
  flex-wrap: wrap;
}
.ui-dialog.ui-widget-content .og-container-inline > .form-item {
  margin-top: 0;
  margin-bottom: 0;
  margin-block: 10px;
}

#draggable {
  height: 1500px;
  position: relative;
  border: 0 none;
  width: 1072px;
  margin: 30px auto;
  background-image:
  -moz-linear-gradient(45deg, #eee 25%, transparent 25%,transparent 75%, #eee 75%, #eee 100%),
  -moz-linear-gradient(45deg, #eee 25%, transparent 25%,transparent 75%, #eee 75%, #eee 100%);
  background-image:
  -webkit-linear-gradient(45deg, #eee 25%, transparent 25%,transparent 75%, #eee 75%, #eee 100%),
  -webkit-linear-gradient(45deg, #eee 25%, transparent 25%,transparent 75%, #eee 75%, #eee 100%);
  -moz-background-size:10px 10px;
  background-size: 10px 10px;
  -webkit-background-size: 10px 10px;
  background-position: 0 0, 55px 45px;
}
#draggable::before {
  display: block;
  content: '';
  background-color: #ccc;
  height: 100%;
  position: absolute;
  left: calc(50% - 0.5px);
  top: 0;
  width: 1px;
}
#draggable > .ui-resizable-s {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 4px;
  flex-direction: column;
}
#draggable > .ui-resizable-s::before,
#draggable > .ui-resizable-s::after {
  content: "&nbsp;";
  width: 16px;
  height: 2px;
  margin: 2px;
  background: white;
  z-index: 9999;
  position: relative;
  display: block;
}
#draggable.ipad {
  width: 911px;
}
#draggable.iphone {
  width: 451px;
}
#draggable div.cell {
  position:absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 30px;
  text-align:center;
  padding: 0;
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#draggable div.cell span.title {
  padding: 5px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  word-break: normal;
}
#draggable div.cell span.title a {
  text-decoration: none;
}
#draggable div.cell span.title .subtitle{
  font-size: 80%;
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 100%;
}
#draggable div.cell span.delete,
#draggable div.line span.delete{
  position: absolute;
  right: -15px;
  top: 8px;
  color: red;
  cursor: pointer;
  font-size: 11px;
  display: none;
  background: url(../images/ui-icons_cd0a0a_256x240.png) no-repeat -180px -100px;
  width: 10px;
  height: 10px;
  z-index: 10;
}
#draggable div.line span.edit,
#draggable div.cell span.edit {
  position: absolute;
  right: -15px;
  top: -10px;
  color: red;
  cursor: pointer;
  font-size: 11px;
  display: none;
  background: url(../images/ui-icons_cd0a0a_256x240.png) no-repeat -179px -115px;
  width: 10px;
  height: 10px;
  z-index: 10;
}
#draggable div.cell.cell-type-rounded {
  border-radius: 8px;
}
#draggable div.cell.cell-type-round {
  border-radius: 50%;
}
#draggable div.cell.cell-weight-bold {
  font-weight: bold;
}
#draggable div.dmessage {
  display: none;
  background: #ccc;
  color: #000;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
}
#draggable div.dmessage.active {
  display: block;
}
#dialog-cell, #dialog-lines {
  display: none;
}
#draggable .line {
  position: absolute;
  width: 100px;
  height: 2px;
  left: 10px;
  top: 10px;
  max-height: 2px;
  cursor: move;
}
#draggable .line.line-vertical {
  height: 100px;
  max-height: 100%;
  width: 2px;
  max-width: 2px;
}
#draggable .line.line-horizontal.left_top_arrow::before {
  content: '';
  display: block;
  left: 0;
  top: -5px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 8px solid;
}
#draggable .line.line-horizontal.right_bottom_arrow::after {
  content: '';
  display: block;
  right: 0;
  top: -5px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid;
}
#draggable .line.line-vertical.right_bottom_arrow::before {
  content: '';
  display: block;
  left: -5px;
  bottom: 0;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid;
}
#draggable .line.line-vertical.left_top_arrow::after {
  content: '';
  display: block;
  left: -5px;
  top: 0;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid;
}


.node-organograma #cells,
.node-organograma #lines,
.page-organograma #cells,
.page-organograma #lines,
.page-organograma #cellsipad,
.page-organograma #linesipad,
.page-organograma #cellsiphone,
.page-organograma #linesiphone {
  display: none;
}
#draggable .outline-element {
  outline: 1px solid #006699 !important;
} 
#draggable .outline-element-clicked {
  opacity: 0.7 !important;
  z-index: 100;
}
#draggable div.line.outline-element-clicked span.delete,
#draggable div.line.outline-element-clicked span.edit,
#draggable div.cell.outline-element-clicked span.delete,
#draggable div.cell.outline-element-clicked span.edit {
  display: block;
}
