<div>
    {% if rows %}
        <div
            class="row">
            {# LEFT SIDE: Featured article #}
            {{ rows[0] }}
        </div>
    {% else %}
        {{ empty }}
    {% endif %}
</div>
