{#
/**
 * @file
 * Theme override to display a view of unformatted rows for Directions.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 */
#}

{% for row in rows %}
  <div class="col-lg-12">
    <div class="card border-bottom border-0 pb-3">
      <div class="card-body">
        {{ row.content }}
      </div>
    </div>
  </div>
{% endfor %}
