{#
/**
 * @file
 * Theme override for University Hospitals view row.
 *
 * Available variables:
 * - fields: An array of field output.
 */
#}


<div
    class="row g-4 border-bottom pb-4">
    {# Hospital Image - Left Column #}
    {% if fields.field_university_hospital_photo.content %}
        <div class="col-lg-4">
            <div class="hospital-image">
                <img src="{{ fields.field_university_hospital_photo.content|striptags|trim }}" class="img-fluid"></div>
            </div>
        {% endif %}

        {# Hospital Content - Right Column #}
        <div
            class="col-lg-8">
            {# Hospital Name #}
            {% if fields.title.content %}
                <h5>
                    {{ fields.title.content }}
                </h5>
            {% endif %}

            {# Hospital Description #}
            {% if fields.body.content %}
                <div class="mb-3">
                    {{ fields.body.content }}
                </div>
            {% endif %}

        </div>
    </div>

