{#
/**
 * @file
 * Theme override for Latest News view row fields.
 */
#}

    {# Featured News Item (First Item Only) #}

        <div class="card border-0 h-100 latest-news-item">
            <div class="ratio ratio-16x9">
                <img src="{{ fields.field_image.content|striptags|trim }}" alt="{{ fields.title.content|striptags|trim }}" class="object-fit-cover w-100 h-100">
            </div>
            <div class="card-body p-0">
                <h4 class="fw-bold mb-3 mt-4 ">
                    {{ fields.title.content }}
                </h4>
                <div class="card-text text-muted">
                    {{ fields.body.content }}
                </div>
            </div>
        </div>
    

