
.main-menu {
    background-color: var(--secondary-color);
    color: #fff;
}

.navbar {
    background-color: #144F5A !important;
    padding: 0px !important;
  }

  .navbar {
    background-color: #144F5A !important;
    padding: 0px !important;
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px 15px !important;
    }
}
      
  .navbar-nav .nav-link {
      padding: 10px 25px !important;
      color: #fff !important;
      text-decoration: none !important;
      font-weight: bold !important;
      font-size: 18px !important;
      line-height: 2 !important;
  }
      
  .navbar-nav .nav-link:hover {
      background-color: #fff !important;
      color: #144F5A !important;
  }
  
  .navbar-nav .nav-link.active {
      background-color: var(--primary-color) !important;
      color: #fff !important;
  }
  
  .navbar-nav .nav-link:focus {
      background-color: var(--primary-color) !important;
      color: #fff !important;
  }
  
  .dropdown-menu {
      border-radius: 0px !important;
      border: none !important;
      background-color: #fff !important;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
      padding: 0px !important;
      display: none !important;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 3000;
      min-width: 200px;
  }
  
  .dropdown-item a {
      color: red !important;
      font-weight: bold !important;
  }
  
  .dropdown-menu .dropdown-item:hover {
      background-color: #D1EBED !important;
      color: #144F5A !important;
  }
  
  .dropdown-menu .dropdown-item.active {
      background-color: #fff!important;
      color: #144F5A !important;
      font-weight: bold !important;
  }
  
  .dropdown-toggle:focus {
      background-color: #D1EBED !important;
      color: #144F5A !important;
  }
  
  .dropdown:focus {
      background-color: #D1EBED !important;
  }
  /* Dropdown hover styles */
  .navbar-nav .dropdown:hover > .dropdown-menu {
      display: block !important;
      margin-top: 0;
  }
  
  .navbar-nav li:hover > ul {
      display: block !important;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #fff !important;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
      padding: 0px !important;
      min-width: 200px;
      z-index: 1000;
  }
  
  .navbar-nav li:hover > ul li a {
      color: #144F5A !important;
      padding: 10px 20px !important;
      font-size: 18px !important;
      font-weight: normal !important;
      display: block;
      text-decoration: none !important;
  }
  
  .navbar-nav li:hover > ul li a:hover {
      background-color: #D1EBED !important;
      color: #144F5A !important;
  }
  
  .navbar-nav .nav-item .active {
     background-color: var(--bs-primary) !important;
  }
  
  .navbar-nav .nav-link:focus {
      color: #fff !important;
  }
  
  .navbar-toggler {
    border-color: #fff !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}