{#
/**
 * @file
 * Template for The Minister block.
 */
#}
<div class="container">
  <div class="row g-0">
    <div class="col-sm-6">
      {% if photo_url %}
        <img src="{{ photo_url }}" alt="{{ name }}" class="img-fluid">
      {% endif %}
    </div>
    <div class="col-sm-6 p-4 p-lg-5">
      {% if name %}
        <h3 class="mb-4">{{ name }}</h3>
      {% endif %}
      <p class="mb-4">Ministre de la Santé Publique et de la Population</p>
      <a href="#" class="btn btn-primary">Biographie</a>

     <ul class="the-minister-menu p-0">
     {{ drupal_menu('the-minister') }}
     </ul>

    </div>
  </div>
</div>

