{#
/**
 * @file
 * Template for The Minister block.
 */
#}
<div class="row g-0">
    <div class="col-lg-6">
        {% if photo_url %}
            <img src="{{ photo_url }}" alt="{{ name }}" class="img-fluid">
        {% endif %}
    </div>
    <div class="col-lg-6 p-4 p-lg-5 bg-light">
        {% if name %}
            <h3 class="">{{ name }}</h3>
        {% endif %}
        <p class="mb-4 lead">Ministre de la Santé Publique et de la Population</p>

        <p class="small text-muted"> Le Dr Bertrand Sinal est un médecin formé à l’École latino-américaine de médecine (ELAM) de Cuba grâce à la coopération haïtiano-cubaine dans la première promotion 1998-2005.</p>
        <a href="#" class="btn btn-primary">Lire la biographie</a>
         <hr>
        
    </div>
</div>