.service-card {
  border-bottom: 5px solid var(--primary-color) !important;
  height: 100%;
  min-height: 250px; /* ajuste selon ton design */
}

.service-card:hover {
  background-color: #F6F6F6;
}

.service-icon svg {
  width:50px;
}

.service-card .card-title {
  color: var(--primary-color);
  font-weight: 600;
}